* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@100;400;500;700;900&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

body {
    color: rgb(255, 255, 255);

}

.login{
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ff5d15;
    border-radius: 2rem;
    padding: 1rem;
    text-align: center;
}

.login:hover{
    background-color: #aa3c0d;
    border: 1px solid white;
}

.login i{
    margin-left: 1rem;
    font-size: 1.8rem;
}

 .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  input[type="checkbox"]{
    display: none;
  }
  .container{
    display: none;
    background: rgb(0, 0, 0);
    width: 410px;
    padding: 30px;
    border-radius: 3rem;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    z-index: 30;

  }

  .registro-ok{
    display: none;
  }
  
  #show:checked ~ .container{
    display: block;
  }
  .container .close-btn{
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 18px;
    cursor: pointer;
  }
  .container .close-btn:hover{
    color: #54395e;
  }
  .container .log-h3{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
  }
  .container form{
    margin-top: -20px;
  }
  .container form .data{
    height: 45px;
    width: 100%;
    margin: 40px 0;
  }
  form .data label{
    font-size: 18px;


  }
  form .data input{
    margin-top: 1rem;
    height: 100%;
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    border: 1px solid silver;
    border-radius: 1rem;
  }
  form .data input:focus{
    border-color: #3498db;
    border-bottom-width: 2px;
  }
  form .forgot-pass{
    margin-top: -8px;
    font-size: 1.5rem;
  }
  form .forgot-pass a{
    color: #3498db;
    text-decoration: none;
  }
  form .forgot-pass a:hover{
    text-decoration: underline;
  }
  form .btn{
    margin: 30px 0;
    height: 45px;
    width: 100%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
  }
  form .btn .inner{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    z-index: -1;
    background: -webkit-linear-gradient(right, #54395e, #ff5d15, #54395e, #ff5d15);
    transition: all 0.4s;
    border-radius: 1rem;
  }
  form .btn:hover .inner{
    left: 0;
  }
  form .btn button{
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
  }

.video-home {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;

}

main {
    position: relative;
    margin: 5rem auto;
    padding: 5rem;
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5rem;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 32px 0 rgba(71, 11, 128, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(0, 0, 0, 0.18);
}

.main-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.pages {
    display: flex;
    flex-direction: column;
    height: 400%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    transition: all 0.7s;
    color: white;
}

.calculator{
    max-width: fit-content;
}

.calculator .regular-p, .title-calc{
    margin-bottom: 1.5rem;
}

.content-hero {
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2.5fr 0.5fr 1fr 0.5fr 0.5fr;
    gap: 0.5rem 1rem;
    grid-auto-flow: row;
    justify-content: space-around;
    align-content: center;
    justify-items: center;
    grid-template-areas:
        "h1-hero logo"
        "p-uno logo"
        "h2-hero h2-hero"
        "p-dos p-dos"
        "button-hero button-hero";
}

.logo {
    grid-area: logo;
    max-width: 35rem;
    align-self: center;
}

.h2-hero {
    grid-area: h2-hero;
    align-self: center;

}

.h1-hero {
    grid-area: h1-hero;
    font-size: 6rem;
    font-weight: 900;
    text-align: start;
    align-self: flex-end;
}

.p-uno {
    grid-area: p-uno;
    font-size: 1.5rem;
    align-self: flex-end;
}

.p-uno span {
    font-size: 1.5rem;
    color: #ff5d15;
    font-weight: 700;
}

.p-dos {
    grid-area: p-dos;
    font-size: 2rem;
}

.button-hero {
    grid-area: button-hero;
    align-self: center;
    /* width: 20px; */
}

.circle-button {
    width: 23rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 5rem;
    background-color: #ff5d15;
    margin: auto;
}


.circle-button::after {
    content: "";
    display: block;
    width: 0;
    height: 4rem;
    overflow: hidden;
    background-image: url(src/media/down-arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: width 200ms, margin-left 200ms;
}

.circle-button:is(:hover, :focus)::after {
    width: 4rem;
    margin-left: 0.5rem;


}

.link-ext {
    width: 23rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 5rem;
    background-color: #ff5d15;
    margin: auto;
}

.link-ext:hover {
    font-size: larger;
    background-color: #aa3c0d;


}

.button-arrow {
    color: white;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.233);
    border: none;
    border-radius: 5rem;
    width: 5rem;
    height: 2rem;
    position: relative;
    right: 0;
}

h2 {
    font-size: 3rem;
    font-weight: 700;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

.regular-p {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    word-break: break-word;
}

.regular-p span {
    font-size: 2rem;
    font-weight: 900;
}

.datos {
    width: 100%;
    height: fit-content;
    position: relative;
    bottom: 0;
}

.h2-datos {
    margin: 2rem 0;
}

.datos div {
    margin: 0.8rem auto;
}

.selector-tipo {
    width: 38rem;
    height: 11rem;
    display: flex;
    justify-content: space-around;
    padding: 3rem;
}

.selector-ul {
    list-style-type: none;
}

.opt-li {
    float: left;
    margin: 0 15px 0 0;
    width: 120px;
    height: 60px;
    position: relative;

}

.selector-ul label,
.selector-ul input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.opt-li label {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.selector-ul input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
}

.selector-ul input[type="radio"]:checked+label,
.Checked+label {
    background: #ff5d15;
    border: none;
}

.selector-ul label {

    color: white;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 1rem;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    z-index: 90;
}

.selector-ul label i {
    font-size: 2.5rem;
    margin-bottom: 0.3rem;
}

.selector-ul label:hover {
    background: rgba(0, 0, 0, 0.425);
    border: 1px solid rgb(0, 0, 0);
}

.tiempo-final, .rate, .amount {
    position: relative;
    width: 28rem;
    height: 3rem;

}

.etiquetas {
    position: absolute;
    left: 1.5rem;
    top: 0.5rem;
    padding: 0 0.5rem;
    color: white;
    cursor: text;
    transition: top 200ms ease-in,
        left 200ms ease-in,
        font-size 200ms ease-in;
    font-size: 1.5rem;
}


.getter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #ffffff;
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: 1.5rem;
    color: white;
    outline: none;
    padding: 1.25rem 1.25rem 1.25rem 2rem;
    background: none;

}

.getter:hover, .selector-iva:hover {
    border-color: #000000;
    background-color: #00000042;
}

.getter:focus, .selector-iva:focus {
    border-color: #ff5d15;
}

.getter:focus~.etiquetas,
.getter:not(:placeholder-shown).getter:not(:focus)~.etiquetas {
    top: -0.5rem;
    text-transform: uppercase;
    background-color: #000000;
    font-size: 1rem;
}

.porcentaje{
    background-image: url(src/media/icons8-porcentaje-24.png);
    background-repeat: no-repeat;
    background-size: 6%;
    background-position: left;
}

.pesos{
    background-image: url(src/media/icons8-dólar-estadounidense-24.png);
    background-repeat: no-repeat;
    background-size: 6%;
    background-position:left;
}
.selector-iva{
    position: relative;
    top: 0.5rem;
    width: 15rem;
    height: 2.5rem;
    border: 1px solid #ffffff;
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    outline: none;
    padding: 0.1rem 1rem;
    background: none;
    font-weight: bold;
    
}
.selector-iva option{
    color: #000000;
    font-weight: bold;
    background-color: #ffffff;
    border: none;
}

.contact div a {
    text-decoration: none;
    color: white;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
}

.contact .regular-p{
    margin-bottom: 1.5rem;
}
.sociales {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    margin-bottom: 1rem;
    /* background-color: #54395e; */
}

.logo-dos {
    max-width: 10rem;
}

.conect {
    display: flex;
    align-items: center;
    justify-content: center;
}

.conect h3 {
    margin-right: 2rem;
}

.link-social {
    color: white;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.link-social:hover {
    color: #ff5d15;
}

@media screen and (min-width:1400px) {
    .hero{
        margin-bottom: 5rem;
    }

    .second{
        margin-top: 3rem;

    }
    .h2-datos{
        margin: 1rem 0;
    }
    .selector-tipo{
        height: 8rem;
        padding: 1rem;
    }

}

@media screen and (min-width:1000px) and (max-widht:1399){
    html{
        font-size: 60%;
    }

    .h1-hero{
        font-size: 3rem;
    }
    
}